.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-main);
}

.filters {
  display: flex;
}

.filter {
  font-size: 17px;
  margin: 5px;
  text-transform: capitalize;
  background-color: transparent;
  color: var(--color-accent);
  font-weight: bold;
  opacity: 0.9;
}

.filter:hover,
.filter.selected {
  opacity: 1;
  color: var(--color-black);
}

.toggle {
  margin-top: 5px;
  padding: 15px;
  font-size: 20px;
  background-color: transparent;
  color: var(--color-black);
  cursor: pointer;
  transition: all 200ms ease-out;
}

.toggle:hover {
  transform: scale(1.2);
  color: var(--color-accent);
}
